<html>
<head>
    <title>hangoutwithme</title>
</head>
<body>
<div id="app">
    <div v-if="signup">
        <p>This is a site for setting up times to video chat with people you know or want to get to know</p>
        <p>Sign up for beta </p>
        <p>Access Code</p>
        <input v-model="promocode" type="text"></input>
        <p>Username / page name </p>
        <input v-model="lobbyname" type="text"></input>
        <p>Password</p>
        <input v-model="password" type="password"></input>
        <button v-on:click="createLobby">Create Account</button>
        <p>{{ issueMsg }}</p>
        <p> Or signin </p>
        <button v-on:click="signinView">Sign In</button>
    </div>
    <div v-if="signin">
        <p>Username</p>
        <input v-model="lobbyname" type="text"></input>
        <p>Password</p>
        <input v-model="password" type="password"></input>
        <button v-on:click="initSignin">Sign in</button>
        <p>{{ issueMsg }}</p>
    </div>
    <div v-if='admin'>
        <p> {{adminText}} <p>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/hangoutwithmeClient.js"></script>
</body>
</html>
