<html>
<head>
    <title>hangoutwithme</title>
</head>
<body>
<div id="app">
    <p>Hangouts link to be reached at</p>
    <input type='text' v-model="hangoutLink">
    <p>Types of conversations you would like to have</p>
    <label for="personal">Personal</label>
    <input type="checkbox" id="personal" v-model="personalUse">
    <label for="work">Work</label>
    <input type="checkbox" id="work" v-model="workUse">
    <p>Way you would like to be notified (sorry we only support web push right now)</p>
    <label for="webPush">Web Push Notifications</label>
    <input type="checkbox" id="webPush" v-model="webPushOptIn">
    <p>Do not disturb hours</p>
    <label for="dndstart"> Begin do not distrub</label>
    <select v-model="doNotDisturbStart" id="dndstart">
        <option v-for="dayTime in dayTimes" v-bind:value="dayTime.value">
            {{ dayTime.text }}
        </option>
    </select>
    <p></p>
    <label for="dndend"> End do not distrub</label>
    <select v-model="doNotDisturbEnd" id="dndend">
        <option v-for="dayTime in dayTimes" v-bind:value="dayTime.value">
            {{ dayTime.text }}
        </option>
    </select>
    <button v-on:click="saveSettings">Save</button>
    <p>{{ info }}</p>
</div>
<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/admin.js"></script>
</body>
</html>
