<html>
<head>
    <title>hangoutwithme</title>
</head>
<body>
<div id="app">
    <p> Whats your name? </p>
    <input type="text" v-model="who">
    <p>Pick a time you want to chat with {{ lobbyname }}</p>
    <label for="availability"> Availability</label>
    <div v-if="hasUserInfo">
    <select v-model="selectedTime" id="availability">
        <option v-for="openTime in openTimes" v-bind:value="openTime.value">
            {{ openTime.text }}
        </option>
    </select>
    </div>
    <p>{{confirmation}}</p>
    <button v-if="makeAppoint" v-on:click="appointment">Schedule a hangout</button>
    <button v-if="showLink" v-on:click="openHangout"> Click to join early </button>
</div>
<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/lobby.js"></script>
</body>
</html>
